.container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ant-dropdown-link {
  padding-left: 10px;
}

.input-label {
  padding-top: 20px;
}

.fee-section {
  padding-top: 20px;
}

#exfil-btn {
  width: 240px;
  height: 80px;
  font-size: 28px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
